fastapi==0.116.1
azure-storage-blob
celery[redis]
httpx==0.28.1
numpy
openvino
openpyxl
optimum-intel
pillow
pyodbc==5.2.0
pydantic-settings==2.10.1
python-multipart==0.0.20
scikit-learn
SQLAlchemy==2.0.36
torch
torchvision
transformers
ultralytics
uvicorn[standard]==0.35.0
